<div class="section_ingredients">
  <div class="hdt-container"></div>
</div>
{% schema %}
{
  "name": "Ingredients",
  "tag": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Ingredients"
    }
  ]
}
{% endschema %}
