.hdt-main-header .hdt-nav__ul .hdt-line-clamp {
    font-weight:bold;
    text-transform:uppercase;
}

.jdgm-review-widget .jdgm-rev-widg__header .jdgm-rev-widg__title {
    font-size: var(--h4-size);
}
.payment_icons_topbar {
    display: inline-flex;
    column-gap: 10px;
    row-gap: 5px;
    align-items: center;
    justify-content: center;
}
.hdt-top-bar__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top:5px;
}

@media (min-width:1150px) {
    .hdt-top-bar__socials {
        justify-content:flex-end;
        margin-top:0px;
    }
}

.hdt-marquee-inner .hdt-marquee__item {
    display: inline-flex;
    align-items: center;
    column-gap: var(--space-item, var(--spacing-x));
}

.mw-apo-price-custom {
    margin-top:0px !important;
}

.hdt-product-form__top-buttons.hdt-flex {
    align-items: center;
}
.is--minus.disabled,
.is--minus.disabled wrapp-remove-item-oncart {
    opacity:0;
    pointer-events: none;    
}